.messages {
    display: grid;
    grid-template: "users messages" "users send";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto 50px;
    background-color: #fff;
    border-radius: 10px;
}

.usersItems {
    padding: 15px;
    grid-area: users;
}

.messagesItems {
    padding: 15px;
    grid-area: messages;
}

.sendContainer {
    grid-area: send;
}

.sendContainer textarea {
    width: calc(100% - 120px);
    height: 50px;
    padding: 5px 10px;
}

.sendContainer input[type="button"] {
    width: 120px;
    height: 50px;
    position: relative;
    bottom: 20px;
}