.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.usersItems {
    padding: 15px;
}

.usersItems .user {

}

.usersItems .user a {
    color: #fff;
}

.messagesItems {
    padding: 15px;
}

.messagesItems .message {

}