.profile {
    grid-area: content;
    background-color: #80e1ff;
}

.bg_container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.user img {
    width: 100px;
    height: 100px;
}

.item {
    color: red;
}