.bgContainer img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.user {
    padding: 15px;
    background-color: #fff;
    margin: 0 0 30px 0;
    border-radius: 0 0 10px 10px;
}

.userBgContainer {
    width: 180px;
    height: 180px;
    position: relative;
    margin: 0 0 -128px 0;
    left: calc(50% - 90px);
    bottom: 130px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
}

.userBgContainer img {
    transition: transform 0.2s ease;
}

.userBgContainer img:hover {
    transform: scale(1.5);
}

.user p {
    text-align: center;
}

.user p:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
}

.user p:nth-child(2) {
    font-size: 16px;
    color: #404257;
}

.public {
    padding: 15px;
    background-color: #fff;
    margin: 0 0 30px 0;
    border-radius: 10px;
}